<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>HPU Central Authentication Service</title>
  <!-- Modernizr -->
  <script src="/js/libs/modernizr-2.6.2.min.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="/js/libs/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.js"></script>
  <!-- GroundworkCSS -->

  <link type="text/css" rel="stylesheet" href="/css/groundwork.css">
  <link type="text/css" rel="stylesheet" href="/css/jquery-ui.css">
  <!--[if IE]>
  <link type="text/css" rel="stylesheet" href="./css/groundwork-ie.css">
  <![endif]-->
  <!--[if lt IE 9]>
  <script type="text/javascript" src="./js/libs/html5shiv.min.js"></script>
  <![endif]-->
  <!--[if IE 7]>
  <link type="text/css" rel="stylesheet" href="./css/font-awesome-ie7.min.css">
  <![endif]-->
  <script type="text/javascript">
    // fallback if SVG unsupported
    Modernizr.load({
      test: Modernizr.svg,
      nope: '/css/no-svg.css'
    });
    // polyfill for HTML5 placeholders
    Modernizr.load({
      test: Modernizr.input.placeholder,
      nope: [
        '/css/placeholder_polyfill.css',
        '/js/libs/placeholder_polyfill.jquery.js'
      ]
    });
  </script>
  
</head>
<body>
  
    <div class="container">
      <div class="row">
        <div class="one half">
          <h1 class="big responsive heading" data-compression="9" data-min="20" data-max="200" style="font-size: 66px;"><a href="./home"><span class="logo"></span> </a></h1>
        </div>
        <div class="one half double pad-top">
          <nav class="inline pull-right">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li class="menu"><a href="./components">Services</a>
                    <ul style="display: none;">
                      <li><a href="./grid">Grid</a></li>
                      <li><a href="./media-queries">Media Queries</a></li>
                      <li><a href="./typography">Typography</a></li>
                      <li><a href="./buttons">Buttons</a></li>                                            
                    </ul>
                  </li>
                  <li class="menu"><a href="#">Account</a>
                    <ul style="display: none;">
                      <% if !logged_in?(request, session) then %>
                      <li><a href="<%= login_url %>"><i class="icon-home" ></i>Login</a></li>            
                      <li><a title="a" id="register-menu"><i class="icon-home" ></i>Register</a></li>            
            <li><a title="a" id="pw-menu"><i class="icon-envelope-alt" ></i>Forgot password? </a></li>            
                      <% else %>
                        <li><a href="/logout"><i class="icon-home" ></i>Logout</a></li>            
                      <% end %>
            <li><a title="a" id="help-menu"><i class="icon-heart" ></i>Help</a></li>                     
                    </ul>
                  </li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
  
  
  <div class="container">    
    <div class="row">
      <div class="two thirds">
          <div class="padded">      
      <article class="row">
      <section class="one third padded">       
        <a href="http://hpu.edu.vn"><img src="/images/congthongtin.jpg" class="gap-top gap-bottom" alt="" /></a>
      </section>      
      <section class="one third padded">       
        <a href="http://hpu.edu.vn"><img src="/images/tracuuthongtin.jpg" class="gap-top gap-bottom" alt="" /></a>      
      </section>
      <section class="one third padded">       
        <img src="/images/diendansinhvien.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/dangkymonhoc.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/decuongmonhoc.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/thuvienanh.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/hotrotructuyen.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/khoaluandoan.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
      <section class="one third padded">       
        <img src="/images/wiki.jpg" class="gap-top gap-bottom" alt="" />       
      </section>
    </article>
    </div>
      </div>
               
      
        
         
        
      
      <div class="one third" id="accTpl"></div>      
    </div>
     
    <br /> <br />
    <footer class="footer align-left">
        <p>&copy; 2013 Gary Hepting. Free to use, but <a href="mailto:groundwork@sidereel.com">give me a shout</a> if you find GroundworkCSS extremely useful!</p>
    </footer>
    
  </div>
  <!-- scripts -->
  <script type="text/javascript" src="/js/plugins/jquery.orbit-1.4.0.js"></script>
  <script type="text/javascript" src="/js/groundwork.js"></script>
  <script type="text/javascript" src="/js/mustache.js"></script>

  
 
</script>
<script type="text/javascript">
  $(document).ready(function(){
      var template = $('#signupTpl').html();
      var html = Mustache.to_html(template);
      $('#accTpl').html(html);      
  }) 
  $("#register-menu").click(function() {      
      var template = $('#signupTpl').html();
      var html = Mustache.to_html(template);      
      $('#accTpl').html(html);
  });
   $("#pw-menu").click(function() {
      var template2 = $('#pwTpl').html();
      var html2 = Mustache.to_html(template2);      
      $('#accTpl').html(html2);
  });
   $("#help-menu").click(function() {
      var template2 = $('#helpTpl').html();
      var html2 = Mustache.to_html(template2);      
      $('#accTpl').html(html2);
  });
</script>
 <script>
$(function() {
$("#datepicker").datepicker();
});
</script>
<script id="helpTpl" type="text/template"> 
  Nếu bạn là sinh viên, vui lòng vào <a href="http://hpu.edu.vn/sinhvien">cổng sinh viên</a> để cập nhật email.
Lưu ý email phải dùng được để kích hoạt tài khoản của bạn tại đây, khuyến khích dùng Gmail.
Sau khi cập nhật email, bạn nhập lại chính xác thông tin mã sinh viên và email trong cổng sinh viên để đăng ký
</script>
<script id="pwTpl" type="text/template"> 
         <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
      <div class="flash <%= kind %>">
        <%= flash[kind] %>
      </div>
      <% end %> 
        <form action="/reset" method="post" >        
          <fieldset>
            <legend>Reset password</legend> 

             <div class="row">
              <div class="one whole padded">
                <label for="email">Email Address</label>
                <input type="email" name="user[email]" placeholder="Your Email" id="email" />
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <button type="submit">Submit</button> 
              </div>
            </div>                       
          </fieldset>
         
        </form>
</script>

      <script id="signupTpl" type="text/template">    
         <% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="flash <%= kind %>">
  <%= flash[kind] %>
</div>
<% end %> 
        <form action="/signup" method="post" >
        
          <fieldset>
            <legend>Register</legend> 

             <div class="row" id="msv">
              <div class="one whole padded">
                <label for="msv">Mã sinh viên (Nếu bạn là sinh viên)</label>
                <input type="text" name="user[msv]" placeholder="Your MSV" id="msv" />
              </div>
            </div>

            <div class="row">
              <div class="one whole padded">
                <label for="email">Email Address</label>
                <input type="email" name="user[email]" placeholder="Your Email" id="email" />
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <label for="password">Password</label>
                <input type="password" name="user[password]" placeholder="Your password" id="password" />
              </div>
            </div>
            <div class="row">
              <div class="one whole padded">
                <label for="password2">Password</label>
                <input type="password" name="user[password2]" placeholder="Confirm your password" id="password2" />
              </div>
            </div>            
          
            <div class="row">
              <div class="one whole padded">
                <button type="submit">Submit</button> 
              </div>
            </div>                       
          </fieldset>
         
        </form>
        </script>
</body>
</html>
